.avatar {
  max-width: 60px !important;
}

.bg-header {
  background: #2b2b2b;
}

#footerwrap {
  background: #2b2b2b;
  margin-top: 0px;
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

#footerwrap h5 {
  color: white;
}

@media (max-width: 991px) {
  .module-title {
    font-size: 2rem;
  }
}
